
<div class="w-full flex justify-around items-center">
  <div class="w-fit flex space-x-14 justify-between items-center">
    <div>
      <div class="flex justify-between items-center">
        <img class="mr-2" ngSrc="assets/img/icons8-minecraft-schwert-48.png" width="40" height="40">
        <p style="font-size: 35px;" class="ml-4">{{latestPlayerStats.kills}}</p>
      </div>
      <div class="flex justify-between items-center mt-4">
        <img class="mr-2" ngSrc="assets/img/money.png" width="40" height="40">
        <p style="font-size: 35px;" class="ml-4">{{latestPlayerStats.money}}$</p>
      </div>
      <div class="flex justify-between items-center mt-4">
        <img class="mr-2" ngSrc="assets/img/minecraft-food.png" width="40" height="40">
        <p style="font-size: 35px;" class="ml-4">{{latestPlayerStats.foodLevel}}</p>
      </div>
      <div class="flex justify-between items-center mt-4">
        <img class="mr-2" ngSrc="assets/img/experience-orb.webp" width="40" height="40">
        <p style="font-size: 35px;" class="ml-4">{{latestPlayerStats.exp}}</p>
      </div>
    </div>
    <div    class="inline-block h-[320px] min-h-[1em] w-0.5 self-stretch bg-black opacity-100"></div>
    <div>
      <div class="flex justify-between items-center">
        <img class="mr-2" ngSrc="assets/img/Slimeball_JE2_BE2.webp" width="40" height="40">
        <p style="font-size: 35px;" class="ml-4">{{latestPlayerStats.sfTitle ? latestPlayerStats.sfTitle : "None"}}</p>
      </div>
      <div class="flex justify-between items-center mt-4">
        <img class="mr-2" ngSrc="assets/img/minecraft-diamond.webp" width="40" height="40">
        <p style="font-size: 35px;" class="ml-4">{{latestPlayerStats.threatTier}}</p>
      </div>
      <div class="flex justify-between items-center mt-4">
        <img class="mr-2" ngSrc="assets/img/crossed-swords.png" width="40" height="40">
        <p style="font-size: 35px;" class="ml-4">{{latestPlayerStats.guildRankName}}</p>
      </div>
      <div class="flex justify-between items-center mt-4">
        <img class="mr-2" ngSrc="assets/img/medal.png" width="50" height="50">
        <p style="font-size: 35px;" class="ml-4">{{latestPlayerStats.threatTier}}</p>
      </div>
    </div>
    <div class="inline-block h-[320px] min-h-[1em] w-0.5 self-stretch bg-black opacity-100"></div>
    <div>
      <div class="flex justify-between items-center">
        <img class="mr-2" ngSrc="assets/img/mcmmo.jpeg" width="40" height="40">
        <p style="font-size: 35px;" class="ml-4">{{latestPlayerStats.mcmmoPower}}</p>
      </div>
      <div class="flex justify-between items-center mt-4">
        <img class="mr-2" ngSrc="assets/img/potion.webp" width="40" height="40">
        <p style="font-size: 35px;" class="ml-4">{{latestPlayerStats.mageRank}}</p>
      </div>
      <div class="flex justify-between items-center mt-4">
        <img class="mr-2" ngSrc="assets/img/skills.png" width="60" height="50">
        <p style="font-size: 35px;" class="ml-4">{{latestPlayerStats.skillClass}}</p>
      </div>
      <div class="flex justify-between items-center mt-4">
        <p style="font-size: 35px;" class="ml-4 text-white" >.</p>
      </div>
    </div>
  </div>
  <div class="flex items-center flex-col mt-8">
    <h1 style="font-size: 30px">{{username}}</h1>
    <div id="skinContainer"></div>
    <div class="flex items-start flex-col">
      <div *ngFor="let i of heartRows" class="flex justify-between items-center mt-4">
        <img *ngFor="let i of heartHeartsPerRowArr" ngSrc="assets/img/minecraft-heart.webp" width="20" height="20">
        <!--<img *ngFor="let i of [1,2,3]" ngSrc="assets/img/minecraft-heart-black.png" width="35" height="35" >-->
      </div>
      <div class="flex justify-between items-start mt-4">
        <img *ngFor="let i of heartsInLastRow" ngSrc="assets/img/minecraft-heart.webp" width="20" height="20">
      </div>
  </div>
</div>
